body{
  background: #D9D9D9
}
.column{
  display: flex;
  justify-content: center;
}
.calculadora {
  margin-top: 40px;
  border: solid 1px #000;
  padding: 20px;
  background-color: #2E2E2E;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
}

.btn {
  width: 60px;
  height: 50px;
  margin: 5px;
  box-shadow: 1px 1px 1px #000;
  background: #343a40;
  border-radius: .3rem;
  border-color: #343a40;
  color: #fff;
  font-size: 1.25rem;
}

.clear {
  width: 135px;
}

.zero {
  width: 135px;
}

.resultado {
  text-align: right;
  line-height: 1.5;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: .375rem .75rem;
  border: solid 1px #000;
  box-shadow: 1px 1px 1px #000;
  background-color: #e9ecef;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;

}